<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 : ADD ME</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="7" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/machine-learning-novice-python/">Introduction to machine learning</a></td>        <!-- time    -->
        <td>What is machine learning?</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->    <!-- time    -->
        <td>Optimisation</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->    <!-- time    -->
        <td>Data preparation</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->    <!-- time    -->
        <td>Creating a model</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->    <!-- time    -->
        <td>Validation</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->    <!-- time    -->
        <td>Evaluation</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->    <!-- time    -->
        <td>Bootstrapping</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>14:30 - 14:45</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 : ADD ME</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="7" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/machine-learning-trees-python/">Tree models</a></td>        <!-- time    -->
        <td>Introduction to tree models</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->    <!-- time    -->
        <td>Variance and bias</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->    <!-- time    -->
        <td>Boosting</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->    <!-- time    -->
        <td>Bagging</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->    <!-- time    -->
        <td>Random Forests</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->    <!-- time    -->
        <td>Gradient Boosting</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->    <!-- time    -->
        <td>Performance</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>14:30 - 14:45</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 : ADD ME</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="4" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/machine-learning-neural-python/">Neural networks</a></td>        <!-- time    -->
        <td>What are neural networks?</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->    <!-- time    -->
        <td>Visualisation</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->    <!-- time    -->
        <td>Data preparation</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->    <!-- time    -->
        <td>Training and testing</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>14:30 - 14:45</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 : ADD ME</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="5" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/machine-learning-responsible-python/">Responsible machine learning</a></td>        <!-- time    -->
        <td>Tasks</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->    <!-- time    -->
        <td>Data</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->    <!-- time    -->
        <td>Fairness</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->    <!-- time    -->
        <td>Explainability</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->    <!-- time    -->
        <td>Susceptibility</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>14:30 - 14:45</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
